header {
  color: #2f2e41;
}
img {
  display: block;
  margin: 0 auto;
  width: 150px;
  position: relative;
  bottom: 70px;
  opacity: 0.9;
}
.container {
  display: block;
  width: 100%;
  padding-right: auto;
  padding-left: auto;
}
.weatherApp {
  display: block;
  border: 0;
  border-radius: 7px;
  margin: 20px;
  padding: 20px;
  max-width: 500px;
  font-family: "BenchNine", sans-serif;
  background-image: linear-gradient(
    to top,
    #7474b0 37%,
    #7e7ebb 50%,
    #8389c7 62%,
    #9795d4 75%,
    #a2a1dc 87%,
    #b5aee4 100%
  );
}
.topLeft {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 25px;
  color: #2f2e41;
}
.currentCity {
  letter-spacing: 5px;
  font-size: 40px;
}
.time {
  font-size: 20px;
}
.bigIcon {
  height: 150px;
  width: 150px;
  filter: hue-rotate(-15deg) grayscale(10%) saturate(1) contrast(120%)
    sepia(60%);
}
.forecast {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 25px;
  color: #2f2e41;
}
.currentTemp {
  position: relative;
  left: 30px;
}
.temperature {
  font-size: 40px;
}
.forecast strong {
  position: relative;
  bottom: 15px;
  letter-spacing: 1px;
  font-size: 20px;
}
.active {
  color: #2f2e41;
}
.active:hover {
  text-decoration: none;
  cursor: default;
  color: #2f2e41;
}

.stats {
  font-size: 20px;
  position: relative;
  left: 15px;
}

.searchEngine {
  position: relative;
  left: 70px;
  bottom: 50px;
}
.searchBar {
  border: 0px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #2f2e41;
  font-size: 24px;
  letter-spacing: 4px;
}
.searchButton {
  border: 0;
  border-radius: 100%;
  color: #2f2e41;
  font-size: 20px;
  position: relative;
  left: 5px;
}
.locationButton {
  color: #2f2e41;
  font-size: 25px;
  position: relative;
  left: 30px;
  bottom: 7px;
  border-radius: 100%;
  border-style: none;
  padding: 7px;
  background-color: transparent;
  opacity: 0.9;
}
.locationButton:hover {
  color: #d99280;
}
.col {
  text-align: center;
}
.col:hover {
  opacity: 0.5;
  transition: all 150ms ease-in-out;
  background-color: #a4a2dc;
  border-radius: 5px;
}
.faInput {
  font-family: FontAwesome, ‘Helvetica Neue’, Helvetica, Arial, sans-serif;
}
.hours:hover {
  opacity: 0.5;
  transition: all 150ms ease-in-out;
  background-color: #a4a2dc;
  border-radius: 5px;
}
.times {
  position: relative;
  right: 5px;
  font-weight: lighter;
  letter-spacing: 5px;
}
.hourlyIcon {
  height: 70px;
  width: 70px;
  font-size: 30px;
  color: #ffe8de;
  position: relative;
  top: 10px;
  right: 10px;
  filter: hue-rotate(-15deg) grayscale(10%) saturate(1) contrast(120%)
    sepia(60%);
}
.highLow {
  position: relative;
  left: 10px;
}
.footer {
  display: block;
  text-align: center;
  position: relative;
  left: -10px;
  color: #212529;
}
.sourceLink {
  color: #212529;
  text-decoration: underline;
}
.sourceLink:hover {
  color: #d99280;
}
